name: Build

on:
  push:
    branches:
      - master
    paths:
      - '**.nix'
      - 'flake.lock'
  pull_request:
    paths:
      - '**.nix'
      - 'flake.lock'
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipPush: ${{ github.event_name == 'pull_request' }}

      - name: Build devShell
        run: nix develop --show-trace -c true

      - name: Build homeConfigurations
        run: nix build --show-trace --no-link .#homeConfigurations.default.activationPackage

      - name: Build darwinConfigurations
        run: nix build --show-trace --no-link .#darwinConfigurations.default.system

      - name: Print disk usage
        run: df -h
